* {
    /*margin: 0;*/
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Nunito', sans-serif;
}

.handle-user-not-logged-input {
    outline: none;
    border: none;

    border-bottom: 1px solid lightgray;

    margin: 1rem 0;

}
.handle-user-not-logged-input:focus {
    border-bottom: 1px solid #444CE6;
}

.bg-white {
    background-color: #fff;
}

.shadow-lg {     --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);     --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); }