@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
    /*margin: 0;*/
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Nunito', sans-serif;
}

html, body {
    height: 100%;
}


:root {
    --principal-color: #444CE6;
    --principal-color-rgb: 68, 76, 230;
    --default-bg: rgb(243 244 246 / 1);
    --principal-opacity: .8;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  !*background: linear-gradient(*!*/
/*  !*    to bottom,*!*/
/*  !*    transparent,*!*/
/*  !*    rgb(var(--background-end-rgb))*!*/
/*  !*  )*!*/
/*  !*  rgb(var(--background-start-rgb));*!*/
/*}*/

/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/
