@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
    /*margin: 0;*/
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html, body {
    height: 100%;
}

:root {
    --principal-color: #444CE6;
    --secundary-color: #fc7f03;
    --principal-color-rgb: 68, 76, 230;
    --default-bg: rgb(243 244 246 / 1);
    --default-bg-rgb: 243, 244, 246;
    --default-bg-dark: #F4F4F4;
    --principal-opacity: .8;
    --secundary-font: 'Poppins';
    --fc-button-bg-color: var(--principal-color);
    --fc-button-active-bg-color: #2b3093;
    --fc-button-active-border-color: #2b3093;
    --fc-button-hover-border-color: var(--principal-color);
    --fc-button-hover-bg-color: var(--principal-color);
    --fc-button-border-color: var(--principal-color);
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

/*.fc {*/
/*    height: 100%;  !* 100% da altura do contêiner *!*/
/*    width: 100%;*/
/*}*/

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child),
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child),
.fc .fc-button{
    border-radius: 0;
    transition: all 300ms ease-in-out;

    outline: none;

    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fc-timegrid-axis-cushion {
    max-width: 80px;
}

.fc .fc-button:focus {
    outline: none !important;
}
.fc .fc-button:hover {
    transform: scale(1.1);
}

@media (max-width: 644px) {
    .fc-toolbar-chunk:nth-of-type(2) {
        /*display: none;*/
        width: 100%;
    }

    .fc .fc-header-toolbar {
        display: grid;
        gap: 1.5rem;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        width: 100%;
        align-items: center;
    }
}

.font-secundary {
    font-family: var(--secundary-font), sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 80px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 80px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--principal-color);
    border: 2px solid #f0f0f0;
    border-radius: 80px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--principal-color);
}


.container-custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #e74c3c #f0f0f0;
}

span[data-state="checked"], button[data-state="checked"] {
    overflow: hidden;
    background-color: var(--principal-color);
    border-color: var(--principal-color);
}

/*::-webkit-scrollbar-horizontal {*/
/*    height: 10px;*/
/*}*/

/*::-webkit-scrollbar-track-horizontal {*/
/*    background: #f0f0f0;*/
/*}*/

/*::-webkit-scrollbar-thumb-horizontal {*/
/*    background-color: #3498db;*/
/*    border-radius: 6px;*/
/*    border: 2px solid #f0f0f0;*/
/*}*/

